<a href="https://colab.research.google.com/github/eunji12/Python-Machine-Learning-Study/blob/master/ML_lab_01_TensorFlow%EC%9D%98_%EC%84%A4%EC%B9%98_%EB%B0%8F_%EA%B8%B0%EB%B3%B8%EC%A0%81%EC%9D%B8_%EC%98%A4%ED%8D%BC%EB%A0%88%EC%9D%B4%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 김성훈 교수의 모두를 위한 딥러닝 
- ML lab 01 - TensorFlow의 설치 및 기본적인 오퍼레이션
- ML lab 01 - TensorFlow의 설치및 기본적인 operations (new)

In [0]:
import tensorflow as tf

In [0]:
hello = tf.constant("hello, TensorFlow!")

▼ session생성 후 run으로 노드를 실행

In [6]:
sess = tf.Session()
print(sess.run(hello))

b'hello, TensorFlow!'

앞의 b'는 바이트 스트링을 표시함

In [11]:
node1 = tf.constant(3.0, tf.float32)
node2 = tf.constant(4.0)
node3 = tf.add(node1,node2)

print("nd1: ",node1," nd2: ",node2)
print("nd3 : ",node3)

nd1:  Tensor("Const_3:0", shape=(), dtype=float32)  nd2:  Tensor("Const_4:0", shape=(), dtype=float32)
nd3 :  Tensor("Add_1:0", shape=(), dtype=float32)

session.run 하기전엔 해당 노드가 어떤 노드인지만 알려줌   
nd1:  Tensor("Const_3:0", shape=(), dtype=float32)  
노드1은 텐서이다, 상수 3.0이 들어간 0차원의 float32형

In [15]:
print("sess.run(node1,node2):",sess.run([node1,node2]))
print("sess.run(node3):",sess.run(node3))

sess.run(node1,node2): [3.0, 4.0]
sess.run(node3): 7.0

#### Placeholder
- 그래프를 먼저 생성 후 (빈 노드 - placeholder) 나중에 데이터를 넣어줄 수 있다.
- feed_dict : 값을 넘겨준다

In [20]:
a = tf.placeholder(tf.float32)
b = tf.placeholder(tf.float32)
adder_node = a+b

print(a,",",b,",",adder_node)
print(sess.run(adder_node, feed_dict={a:3, b:4.5}))
print(sess.run(adder_node, feed_dict={a:[1,3],b:[2,4]}))

Tensor("Placeholder_6:0", dtype=float32) , Tensor("Placeholder_7:0", dtype=float32) , Tensor("add_5:0", dtype=float32)
7.5
[3. 7.]

### Ranks, Shapes, Types
- Rank는 차원,  Shape은 행열, Types는 데이터 타입     
-  t=[[1,2,3],[4,5,6],[7,8,9]]    
Rank = 2   
Shape = (3,3)   
Type = tf.float32